<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mis Productos Favoritos</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.css}" />
    <script th:src="@{/js/bootstrap/bootstrap.bundle.js}"></script>
</head>
<body>
<div class="container">
    <h1 class="my-4">Mis Productos Favoritos</h1>
    
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Imagen</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="favorito : ${favoritos}">
            <td th:text="${favorito.producto.nombre}">Nombre</td>
            <td th:text="${favorito.producto.descripcion}">Descripción</td>
            <td th:text="${favorito.producto.precio}">0.00</td>
            <td>
                <img th:src="${favorito.producto.imagen}" alt="Imagen de Producto" style="max-width: 100px;">
            </td>
            <td>
                <form th:action="@{/favoritos/{id}/eliminar(id=${favorito.id})}" method="post" class="d-inline">
                    <button type="submit" class="btn btn-danger btn-sm">Eliminar de favoritos</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <a th:href="@{/productos/lista}" class="btn btn-secondary">Volver a la lista de productos</a>
</div>
</body>
</html>
